* {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding-block-start: 1.25rem;
    line-height: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #fbfeff;
    color: black;
   }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1.25rem;
  }
  
  /* HERO */
  .hero {
    text-align: center;
    padding: 1.25rem;
  }
  
  .hero h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 2.75rem;
    margin-bottom: 1.6rem;
  }
  
  .hero p {
    font-size: 1.1rem;
    color: #a1a1a1;
    max-width: 600px;
    margin: 0 auto 3.5rem auto;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 1.5rem;
    margin-block-end: 1.3rem;
    background: greenyellow;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
  }

  img {
    max-width: 50%;
    margin-block-end: 1rem;
    border-radius: 10px;
  }
  
  h2 {
    margin-top: 3.75rem;
    font-size: 1.8rem;
  }
  
  .card {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    background: #373737;
    color: white;
    padding: 1.25rem;
    border-radius: 10px;
    margin-top: 1rem;
    line-height: 1.6rem;
  }
  
  ul {
    padding-left: 1.25rem;
  }
  
  .footer {
    text-align: center;
    margin-top: 5rem;
    font-size: 0.875;
    color: #777;
  }
  
  a {
    color: white;
  }
  
